.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
}

.portfolio__item {
  /* background: rgb(11, 128, 224); */
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 2px;
  border-radius: 1.5rem;
  border: 1px solid #12f7ff;
  transition: var(--transition);
}

.portfolio__item:hover {
  /* background-color: rgb(32, 165, 241); */
  box-shadow: 5px 5px 10px #12f7ff;
  font-size: 15px;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  overflow: hidden;
}
.portfolio__item-image img {
  height: 11rem;
  width: 22rem;
}
.portfolio__item h3 {
  margin: 1.2rem 0 2rem;
}
.portfolio__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.portfolio__item-cta a {
  width: 100%;
  text-align: center;
}
/* =================== light mode ==================== */
#light .portfolio__item {
  border: 1px solid white;
}
#light .portfolio__item:hover {
  box-shadow: 5px 5px 10px white;
}
/* =================== MEDIA QUERIES (MEDIA DEVICES) ==================== */

@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
    margin-right: 8.5rem;
  }
}

/* =================== MEDIA QUERIES (SMALL DEVICES) ==================== */

@media (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: repeat(1, 1fr);
    width: 80%;
    gap: 1rem;
    text-align: center;
    margin-left: 20px;
  }
}
